---
# Only the main Sass file needs front matter (the dashes are enough)
---
body{
	background-color: #e5efff;
	font-family: "Helvetica" , sans-serif;
}
footer{
	color: #045891;
	text-align: center;
}
body > header{
	padding: 20px 0;
	
}
a{
	color: #076009;
	text-decoration: none;
}
.wrapper{
	padding: 0 40px;

}

.site-title{
	float: left;
	margin: 0;
}
/*
.site-title a{
	text-decoration: none;
	color: #f41;
}*/
.site-nav{
	float: right;
}
.site-nav ul{
	list-style: none;
	margin:	0;
	padding: 0;
	font-size:0; /*burda 0 verip*/
}
.site-nav ul li{
	display: inline-block;
	font-size: 24px;/*burda yeniden verirsek arada boşluk kalakar*/
}
.site-nav ul li a{
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #444;
	font-weight: 700;
}
.posts{
	list-style: none;/* yanındaki noktayı kaldırdı*/
	padding: 0;
}
.posts li{
	border-bottom: 1px dashed #fefefe;
}
.posts li:last-child{
	border-bottom: 0;
}/*
.posts a{
	color : #ab2;
	text-decoration: none;
}*/
.posts small{
	font-size: 60%;
}
.posts em{
	color: #f00;
}
footer .mail{
    color: #045891
}
.date{
	float: right;
}
.clear{
	clear: both;
}



