<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    
    <main>
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </main>
    
    {% include footer.html %}

  </body>

</html>
